<footer>
    <p>Made with 💜  by</p><a href="https://twitter.com/difool0x" target="_blank">@difool0x</a>
</footer>


<style>
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
} 

footer a {
    margin-left: 5px;
}
</style>